<!DOCTYPE HTML>
<html>
	<head>
		<title>Wakusei</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/theme/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../static/theme/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header">
						<div class="inner">
							<!-- Logo -->
								<a href="{{ url_for('routes.home') }}" class="logo">
                                    <h1><span class="title">惑星</span></h1> <h3>・Wakusei</h3>
								</a>
							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>
						</div>
					</header>
				<!-- SIDE MENU -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="{{ url_for('routes.home') }}">Home</a></li>
							<li><a href="{{ url_for('routes.home') }}">About</a></li>
                            {% if current_user.is_anonymous %}
							<li><a href="{{ url_for('routes.login') }}">Login</a></li>
							<li><a href="{{ url_for('routes.register') }}">Register</a></li>
                             {% else %}
                            <li><a href="{{ url_for('routes.user', username=current_user.username) }}">Profile</a></li>
							<li><a href="{{ url_for('routes.logout') }}">Logout</a></li>
                            {% endif %}
						</ul>
					</nav>

            <div id="main">
                <div class="inner">
              <!-- ========== SUBCLASS TEMPLATES ========== -->
              {%  block content %}{% endblock %}
                </div>
            </div>

				<!-- FOOTER -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>About</h2>
							</section>
                                <p>Hello and welcome! This web app is a work in progress that will have two main functions. </p>
                                <p>(i) Allow users to upload unlabeled images of planets in our solar system, send the image through a trained CNN,
                                and predict which planet it is.</p>
                                <p>(ii) Aggregate data and images from various NASA and other astronomical APIs and allow users to create
                                accounts and subscribe to the APIs of their choosing. Once subscribed, a daily email with the newest
                                data from the user's subscriptions will be sent to their inbox in a nicely formatted summary email.</p>
                            <section>
                                <h2>Follow</h2>
                                <ul class="icons">
									<li><a href="{{ url_for('routes.external', domain='github') }}" class="icon brands style2 fa-github"><span class="label">Github</span></a></li>
									<li><a href="{{ url_for('routes.external', domain='linkedin') }}" class="icon brands style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
                                </ul>
                            </section>
                                <!-- <a style="font-size:10px" href="https://www.vecteezy.com/">Planet Images Available Here</a> -->
						</div>
					</footer>
			</div>

		<!-- SCRIPTS -->
			<script src="../static/theme/assets/js/jquery.min.js"></script>
			<script src="../static/theme/assets/js/browser.min.js"></script>
			<script src="../static/theme/assets/js/breakpoints.min.js"></script>
			<script src="../static/theme/assets/js/util.js"></script>
			<script src="../static/theme/assets/js/main.js"></script>

	</body>
</html>