{% extends "base.html" %}

{%  block content %}

<!---- TITLE AND INTRO ---->
<header>
    <h3>Welcome to the End of the Line Club. </h3>
    <p>A site that aggregates astronomical APIs from around the web and curates a customized daily email update.</p>
</header>

<!---- SUBSCRIPTIONS ---->
<section>
    <div class="box alt">
    <div class="row gtr-uniform">
        <div class="col-4"><span class="image fit"><img src="../static/theme/images/pic03.jpg" alt="" /></span></div>
        <div class="col-4"><span class="image fit"><img src="../static/theme/images/pic03.jpg" alt="" /></span></div>
        <div class="col-4"><span class="image fit"><img src="../static/theme/images/pic03.jpg" alt="" /></span></div>
        <div class="col-4"><span class="image fit">
             {% if not current_user.is_anonymous and current_user.is_subscribed(1) %}
            <button type="button" id="unsubscribe1" onclick="subscription(1, 'unsubscribe')" class="button fit small">unsubscribe</button>
            {%  else %}
            <button type="button" id="subscribe1" onclick="subscription(1, 'subscribe')" class="button primary fit small">subscribe</button>
            {%  endif %}
        </span></div>
        <div class="col-4"><span class="image fit">
             {% if not current_user.is_anonymous and current_user.is_subscribed(2) %}
            <button type="button" id="unsubscribe2" onclick="subscription(2, 'unsubscribe')" class="button fit small">unsubscribe</button>
            {%  else %}
            <button type="button" id="subscribe2" onclick="subscription(2, 'subscribe')" class="button primary fit small">subscribe</button>
            {%  endif %}
        </span></div>
        <div class="col-4"><span class="image fit">
             {% if not current_user.is_anonymous and current_user.is_subscribed(3) %}
            <button type="button" id="unsubscribe3" onclick="subscription(3, 'unsubscribe')" class="button fit small">unsubscribe</button>
            {%  else %}
            <button type="button" id="subscribe3" onclick="subscription(3, 'subscribe')" class="button primary fit small">subscribe</button>
            {%  endif %}
        </span></div>
    </div>
    </div>
</section>

<!---- JAVASCRIPT ---->
<script>
    function subscription(id, method) {
            $.ajax({
                type: 'POST',
                url: '/subscription',
                data: {id},
                success: function(response) {
                    var element = $('#' + method + id);
                    if (response === 'success') {
                        if (element.text() === 'subscribe') {
                            element.text('unsubscribe');
                            element.removeClass("button primary fit small");
                            element.addClass("button fit small");
                        } else {
                            element.text('subscribe');
                            element.removeClass("button fit small");
                            element.addClass("button primary fit small");
                }}},
                error: function () {
        }})}
</script>

{% endblock %}