{% extends "base.html" %}

<!-- ========== USER LOGIN ========== -->
{% block content %}
<section>
    <form method="post" action="" novalidate>
        {{ form.hidden_tag() }}
        <div class="row gtr-uniform">
            <div class="col-4 col-12-xsmall">
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="col-4 col-12-xsmall">
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="col-4 col-12-xsmall"></div>
            <div class="col-4 col-12-xsmall">
                {{ form.remember_me() }} {{ form.remember_me.label }}
            </div>
            <div class="col-4 col-12-xsmall">
                {{ form.submit() }}
            </div>
            <div class="col-4 col-12-xsmall"></div>
            <div class="col-4 col-12-xsmall">
                New User? <a href="{{ url_for('routes.register') }}">Register here</a>
            </div>
        </div>
    </form>
</section>
{% endblock %}