{% extends "base.html" %}

<!-- d: $(id).text(),========== Dynamic Subscription Buttons ========== -->


<!-- ========== Refresh Example ========== -->
{% block subscribe %}
    <div id="f">
        <div class="container">
          <div class="row">
            <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
              <!--<a href="javascript:subscribe('2')">Subscribe</a>-->
                 <button id="subscribe" onclick="subscribe('2')">Subscribe</button>
                 <button id="unsubscribe" onclick="unsubscribe('2')">Unsubscribe</button>
            </div>
        </div>
    </div>

    <script>
    function subscribe(id) {
        $.post('/dynamic', {
            id: id,
            subscribe: "True"
        }).done(function(response) {
            if(response == 'success') {
                 $("#subscribe").text("unsubscribe");
                 $("#subscribe").attr("onclick", "unsubscribe('2')");
            }
        }).fail(function() {
            $("#subscribe").text("subscribe");
        });
    }
    function unsubscribe(id) {
        $.post('/dynamic', {
            id: $(id).text(),
            subscribe: "False"
        }).done(function(response) {
            if(response == 'success') {
                 $("#unsubscribe").text("subscribe");
                 $("#unsubscribe").attr("onclick", "subscribe('2')");
            }
        }).fail(function() {
            $("#Unsubscribe").text("Unsubscribe");
        });
    }
</script>

{% endblock %}